body {
    margin:0;
    font-family:Arial;
    background:#0f172a;
    color:#fff;
}

.navbar {
    display:flex;
    justify-content:space-between;
    padding:15px;
    background:#1e293b;
}

.menu a {
    color:#fff;
    margin-left:15px;
    text-decoration:none;
}

.container {
    padding:20px;
}

.cards {
    display:grid;
    grid-template-columns:1fr;
    gap:15px;
}

.card {
    background:#1e293b;
    padding:20px;
    border-radius:10px;
    box-shadow:0 4px 12px rgba(0,0,0,0.4);
}

@media(min-width:768px){
    .cards {
        grid-template-columns:1fr 1fr;
    }
}
.auth-box {
    max-width:400px;
    margin:60px auto;
    background:#1e293b;
    padding:30px;
    border-radius:12px;
    box-shadow:0 8px 20px rgba(0,0,0,0.5);
}

.auth-box h2 {
    text-align:center;
    margin-bottom:20px;
}

.auth-box input {
    width:100%;
    padding:12px;
    margin-bottom:15px;
    border:none;
    border-radius:6px;
}

.auth-box button {
    width:100%;
    padding:12px;
    background:#3b82f6;
    border:none;
    color:#fff;
    border-radius:6px;
    cursor:pointer;
}

.auth-box button:hover {
    background:#2563eb;
}

.alert {
    padding:10px;
    margin-bottom:15px;
    border-radius:6px;
}

.error {
    background:#dc2626;
}

.success {
    background:#16a34a;
}
