RewriteEngine On

# Redirect .php to clean URL
RewriteCond %{THE_REQUEST} \s/+(.+?)\.php[\s?]
RewriteRule ^ %1 [R=301,L]

# Hide .php extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^\.]+)$ $1.php [L]

# Example hidden subfolder routes
RewriteRule ^team1$ team/1.php [L]
RewriteRule ^team2$ team/2.php [L]
RewriteRule ^team3$ team/3.php [L]
