RewriteEngine On

# FORCE HTTPS
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# DO NOT TOUCH REAL FILES (VERY IMPORTANT)
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# DO NOT TOUCH REAL DIRECTORIES
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# CLEAN URL → PHP
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^([^/.]+)$ $1.php [L]

# CLEAN URL → HTML
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^([^/.]+)$ $1.html [L]

# REDIRECT .php → clean URL
RewriteCond %{THE_REQUEST} \s/([^.]+)\.php [NC]
RewriteRule ^ /%1 [L,R=301]

# REDIRECT .html → clean URL
RewriteCond %{THE_REQUEST} \s/([^.]+)\.html [NC]
RewriteRule ^ /%1 [L,R=301]
