body {
    margin:0;
    font-family:Arial;
    background:#0f172a;
    color:#fff;
}

.navbar {
    display:flex;
    justify-content:space-between;
    padding:15px;
    background:#1e293b;
}

.menu a {
    color:#fff;
    margin-left:15px;
    text-decoration:none;
}

.container {
    padding:20px;
}

.cards {
    display:grid;
    grid-template-columns:1fr;
    gap:15px;
}

.card {
    background:#1e293b;
    padding:20px;
    border-radius:10px;
    box-shadow:0 4px 12px rgba(0,0,0,0.4);
}

@media(min-width:768px){
    .cards {
        grid-template-columns:1fr 1fr;
    }
}
